extends layout

block content
  h1 Assignment List:
  #assignments
    each val in assignments
        ul
          li= val.assignment_name
          li= val.student_name
          li= val.score
          li= val.date_completed

